<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COVID-19 Cases Finder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <nav class="navbar is-success" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
    
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="http://localhost:3000">
              Home
            </a>
      
            <a class="navbar-item" href="http://localhost:3000/findmyslots">
                See Slots
            </a>
            <a class="navbar-item" href="http://localhost:3000/verify">
                Verify My Account
            </a>
           
           
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" href="http://localhost:3000/">
                  <strong>Sign up</strong>
                </a>
              
              </div>
            </div>
          </div>
        </div>
      </nav>
    <section class="hero is-danger">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Let's Find The Vaccination Slots
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST" action="/findmyslots">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" style="width: 250px;" name="pincode" type="text" placeholder="Pincode - 570082">
                                <input class="input" name="date" style="width: 250px;" type="text" placeholder="Date -DD-MM-YYYY">
                            </div>
                            <div class="control">
                                <button class="button is-light" style="width: 250px;">
                                    Find The Slots
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
   


    <footer class="footer">
    </footer>
</body>

</html